<nav class="navbar navbar-expand-md nav-bar shadow mb-2 rounded">
      
      <%= link_to image_tag("nypd patch.jpeg", :alt => "NYPD Shield", class: "photo" ), homes_index_path %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon hamburger"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      <% if current_user %>
      </ul>
      <ul class="navbar-nav navbar-right">

        <li class="nav-item">
          <%= link_to 'Edit Account', edit_user_registration_path, class: 'nav-links' %> 
        </li>
     
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-links' %>
        </li>
        <% else%>

        <% end %>

      </ul>
    </div>  
  </nav>
  <%# tab for sections %>
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/equipments">Equipment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/assignments">Assignment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/resources">Resources</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/roll_calls">Roll Call</a>
  </li>
</ul>
<%# tabs for new,edit,delete, show and index which will display a list %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/resources/new">Add Resource</a>
  </li>
  <%# <li class="nav-item">
    <a class="nav-link" href="/assignments/:id/edit">Edit/Delete Assignment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/assignments">List Assignments</a>
  </li> %>
</ul>
  <div>
     <div class="text-center time_admin"><%= Time.now.strftime("%m/%d/%Y") %>
     </div>
             
    <div class="text-center time_admin"><%= Time.now.strftime("%H:%M") %>
    </div>
  </div><h1 class="text-center message">Create an Resource</h1>
<hr>
<h4 class="text-center message">This will be used as a drop down item for creating roll calls</h4>
<p class="text-center noticeCO">Please do not modify unless you are authorized by the Commanding Officer. Further direction provided by the ICO and XO</p>


<%= form_with scope: :resources, model: @resource, local: true do |form| %>
  <div class="form-group">
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>
 
  <div class="form-group">
    <%= form.label :last_name %><br>
     <%= form.text_field :last_name %>
  </div>

  <div class="form-group">
    <%= form.label :tax_id %><br>
     <%= form.text_field :tax_id %>
  </div>

<div class="form-group">
    <%= form.label :rank %>
    <%= form.select(:rank, options_for_select([['Police Officer'], ['Sergeant'], ['Lieutenant'], ['Captain'], ['Detective 1'], ['Detective 2'], ['Detective 3']]), { include_blank: true }) %>
</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
      

